/* used in header.html */
body{
    background-color: rgb(221, 221, 221);
}

.makeHidden{
    visibility: hidden;
}

.bg-lightgreen{
    background-color: #709e8a ;
}

.navbar{
    padding:0px;
}

.navbar-brand {
    background-color: #709e8a;
    font-weight:500;
    padding-left:15px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand strong{
    color:#f1f1f1;
}

.active{
    background-color: rgb(241, 241, 241);
}

.navbar-nav{
    padding:10px;
}

.dropdown-menu{
    padding: 10px;
    border:0px;
}

/* used in header.html */

/* used in index */
.bg-white{
    background-color: white;
}

.mainbox , .sidebox{
    margin-top: 10px;
}

#main{
    padding-top: 50px;
    padding-left:40px;
    padding-right: 40px;
    padding:50px;
    height:auto;
}

#side{
    padding-top: 50px;
    padding-left:25px;
    padding-right: 25px;
    height:450px;
}

.row section h1{
        color: #709e8a;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
}

.mainbox section img{
    float:left;
    width:200px;
    height:auto;
}

.sidebox section img{
    float:left;
    width:140px;
    height:140px;
    padding:3px;
}

.lookselected img{
    border:2px solid #709e8a;
}


/* used in index */
/* Used in Comparison page */

.comp-main img{
    float:left;
    width:100%;
    height:auto;
}

.bg-white h1{
    color: #709e8a;
    padding-bottom: 30px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.comp-main a h1{
    color: #709e8a;
    padding-top: 30px;
    font-size: 120%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#comparison-main {
    padding: 50px;
    padding-right: 100px;
    margin:10px;
}

/* Used in Comparison page */
/* Used in Data page */
.bg-white h3{

    color: #709e8a;
    font-size: 25px;}

.data-main{
    overflow: hidden;
}

th{
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 10px;
}
  
tr:nth-child(even) {
      background-color: #f2f2f2;
}

#data-main-section{
    padding: 50px;
    margin:10px;
}

/* Used in Data page */
/* Used in plots pages */

#plotsimg{
    align-content: center;
    width: 100%;
    height:auto;
}

